**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - Data Checkpoint

# Names

- Kaleigh Mogatas A17051705 kmogatas@ucsd.edu
- Tairan Liu A17399714 tal012@ucsd.edu
- Teresa Tian A16878664 shtian@ucsd.edu
- Lynna Nguyen A16906910 lnn002@ucsd.edu
- Ella Tung A16363333 etung@ucsd.edu

# Research Question

What impacts do regions, along with production methods (conventional vs. organic) have on U.S. avocado price fluctuations ranging from 2015 to 2023?

## Background and Prior Work



Avocados, often hailed as a superfruit, are packed with a wide array of vitamins and minerals. Owing to their extensive health benefits, they have sustained their popularity over the past decade, consistently featuring across various culinary presentations. The consumption of avocados have become significant over the past years, thus causing an increase in demand. Because of this, the price of avocados has been affected for a number of reasons. Factors such as the seasonality of avocado production, with specific periods favoring optimal growth, the type of avocado (organic or conventional), and the region of cultivation play a role in influencing avocado’s availability and quality.<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1)

Avocado prices fluctuate depending on the time of year. Tanmay Deshpande, the author of ‘Avocado Price Forecast,’ used Auto Regressive Integrated Moving Average (ARIMA) and Seasonal Auto Regressive Integrated Moving Average (SARIMA) model to find the correlation between the two types of avocado prices and the time of year. He discovered that the average prices of avocados fluctuate during a certain time of year as it would rise around September to November, but would drop again around December and January. This suggests that there may be more of a demand for avocados since they are seasonal fruits, which is why costs increase during a specific time of year in which they are produced.<a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2)

However, the costs of avocados also vary depending on the region of which they are produced and sold for a number of reasons. Mario Caesar, author of  ‘Avocado Price Regression w/ PyCaret & EDA,’ discusses how different areas around the United States play a big role in the contribution of avocado sales and prices, especially with the size of the bag of avocados. His article expresses how the West (excluding California) and California are more likely to purchase both conventional and organic avocados—more so conventional—in comparison to the other top five areas that purchase avocados—the Northeast, Great Lakes and South Central, which begs the question as to why there is such a difference in avocado consumption between different regions. Additionally, the type of avocado that is produced also affects cost and people’s decision to purchase as they are grown using different methods. Caesar concludes that conventional avocados that are within bags are more likely to be purchased in comparison to organic avocados since they tend to be cheaper and bigger in volume and size. Even though organic avocados are produced in a better environment, their prices are higher for that reason.<a name="cite_ref-3"></a>[<sup>3</sup>](#cite_note-3)


**Citations** 
1. <a name='cite_note-1'></a> [1](#cite_ref-1) Bastida, Olmo. Fresh Avocado Market in the US. *ProducePay*,  5 Oct 2023., https://urldefense.com/v3/__https://producepay.com/blog/fresh-avocado-market-us/*:*:text=Price*20of*20imported*20fresh*20avocado,December*2C*20November*2C*20and*20October__;I34lJSUlJSUlJSU!!Mih3wA!B9m-XUv_p86Tp2fLGM0gqrcykqyn1IMUQlmfFBfh4olrgODtkaWaSvh6TWwBYwws57T6-LXqJNL5mUq2$ . Accessed 9 Feb. 2024. 
2. <a name='cite_note-2'></a> [2](#cite_ref-2) Caesar, Mario. Avocado Price Regression w/ PyCaret & EDA. *Kaggle*, 2022, https://urldefense.com/v3/__http://www.kaggle.com/code/caesarmario/avocado-price-regression-w-pycaret-eda__;!!Mih3wA!B9m-XUv_p86Tp2fLGM0gqrcykqyn1IMUQlmfFBfh4olrgODtkaWaSvh6TWwBYwws57T6-LXqJCOkbb-A$ . Accessed 9 Feb 2024. 
3. <a name='cite_note-3'></a> [3](#cite_ref-3) Deshpande, Tanmay, Avocado Price Forecast- ARIMA & SARIMA. *Kaggle*, 2023, https://urldefense.com/v3/__https://www.kaggle.com/code/tanmay111999/avocado-price-forecast-arima-sarima-detailed__;!!Mih3wA!B9m-XUv_p86Tp2fLGM0gqrcykqyn1IMUQlmfFBfh4olrgODtkaWaSvh6TWwBYwws57T6-LXqJM0AMfNc$ . Accessed 9 Feb. 2024.

# Hypothesis


In the United States, avocado prices are primarily affected by their production method, where organic avocados command higher prices than conventional ones. Additionally, regional variations and seasonal demand fluctuations play critical roles in price determination, leading to higher prices in regions with scarce supply or elevated demand during certain seasons.

# Data

## Data Overview

For each dataset include the following information
Data Overview:

Dataset Name: Avocado_HassAvocadoBoard_20152023v1.0.1.csv

Link to the Dataset: 
https://www.kaggle.com/datasets/vakhariapujan/avocado-prices-and-sales-volume-2015-2023?rvi=1 

Number of Observations: 53415 

Number of Variables: 12 

This dataset provides comprehensive data on Hass avocado sales, sourced from the Hass Avocado Board. It builds on previous versions introduced on Kaggle by Justin Kiggins and later updated by Valentin Joseph to include data from 2015 up until 2021. This dataset categorizes sales data by various regions and key locations within the United States, including cities and sub-regions. Notably, the aggregation of location values doesn't equate to the total for regions, which are specified as California, West, Plains, South Central, Southeast, Midsouth, Great Lakes, and Northeast. This dataset offers valuable insights into avocado sales trends between conventional and organic avacodos, alongside the bag sizes, across different geographical areas.

## Avocado_HassAvocadoBoard_20152023v1.0.1.csv

To begin, we first need to import a select few of packages that will help get our data ready to make calculations and analysis.

In [1]:
# Setup for data
%matplotlib inline

import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import math
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", 104)

We then stored our data file into a variable named df and printed the dataset to observe what it looks like.

In [2]:
# Import original csv file 
df = pd.read_csv("Avocado_HassAvocadoBoard_20152023v1.0.1.csv")
df

,Date,AveragePrice,TotalVolume,plu4046,plu4225,plu4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,region
0,2015-01-04,1.220000,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,Albany
1,2015-01-04,1.790000,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,Albany
2,2015-01-04,1.000000,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,Atlanta
3,2015-01-04,1.760000,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,organic,Atlanta
4,2015-01-04,1.080000,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,BaltimoreWashington
...,...,...,...,...,...,...,...,...,...,...,...,...
53410,2023-12-03,1.550513,5693.91,204.64,1211.25,0.00,4278.03,NaN,NaN,NaN,organic,Toledo
53411,2023-12-03,1.703920,343326.10,66808.44,132075.11,58.65,138830.45,NaN,NaN,NaN,organic,West
53412,2023-12-03,1.618931,34834.86,15182.42,1211.38,0.00,18075.66,NaN,NaN,NaN,organic,WestTexNewMexico
53413,2023-12-03,1.245406,2942.83,1058.54,7.46,0.00,1779.19,NaN,NaN,NaN,organic,Wichita
53414,2023-12-03,1.479240,2010020.72,271808.32,274480.64,63.43,1364514.02,NaN,NaN,NaN,organic,TotalUS

Based on what we can visually see, the data seems well organized with the responses also refined structurally. However, the data we can visually see are only some out of the 53415 rows. It is appropriate that we make a few changes and check our data before starting our calculations.

We renamed some of the columns to make the decription of the columns more comprehendable and easier to understand what kind of data is being extracted. Here is further clarification for some of the columns:


`Small Avocados`: The number of small/medium (3-5 oz) avocados

`Large Avocados`: The number of large (8-10 oz) avocados

`XLarge Avocados`: The number of extra large (10-15 oz) avocados

`Small Bags`: The number of small bags of various sized avocados.

`Large Bags`: The number of large bags of various sized) avocados

`XLarge Bags`: The number of extra large bags of various sized avocados

In [3]:
df = df.rename(columns = {'AveragePrice':'Average Price (USD)','TotalVolume': 'Total Volume (lbs)', 'plu4046': 'Small Avocados','plu4225': 'Large Avocados', 'plu4770': 'XLarge Avocados', 'TotalBags': 'Total Bags', 'SmallBags': 'Small Bags', 'LargeBags': 'Large Bags', 'XLargeBags': 'XLarge Bags', 'type': 'Type', 'region': 'Region' })
df

,Date,Average Price (USD),Total Volume (lbs),Small Avocados,Large Avocados,XLarge Avocados,Total Bags,Small Bags,Large Bags,XLarge Bags,Type,Region
0,2015-01-04,1.220000,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,Albany
1,2015-01-04,1.790000,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,Albany
2,2015-01-04,1.000000,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,Atlanta
3,2015-01-04,1.760000,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,organic,Atlanta
4,2015-01-04,1.080000,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,BaltimoreWashington
...,...,...,...,...,...,...,...,...,...,...,...,...
53410,2023-12-03,1.550513,5693.91,204.64,1211.25,0.00,4278.03,NaN,NaN,NaN,organic,Toledo
53411,2023-12-03,1.703920,343326.10,66808.44,132075.11,58.65,138830.45,NaN,NaN,NaN,organic,West
53412,2023-12-03,1.618931,34834.86,15182.42,1211.38,0.00,18075.66,NaN,NaN,NaN,organic,WestTexNewMexico
53413,2023-12-03,1.245406,2942.83,1058.54,7.46,0.00,1779.19,NaN,NaN,NaN,organic,Wichita
53414,2023-12-03,1.479240,2010020.72,271808.32,274480.64,63.43,1364514.02,NaN,NaN,NaN,organic,TotalUS

Now that we have our columns structurally organized, let's check if whether or not there are NaN values in any of the columns.

In [4]:
# Checking for NaN values for necessary columns 
df.isnull().any()

Date                   False
Average Price (USD)    False
Total Volume (lbs)     False
Small Avocados         False
Large Avocados         False
XLarge Avocados        False
Total Bags             False
Small Bags              True
Large Bags              True
XLarge Bags             True
Type                   False
Region                 False
dtype: bool

With the stats shown, there only appears to be NaN values in these columns: Small Bags, Large Bags, and XLarge Bags. Since these columns are not our primary focus for our research question, we decided these NaN values are not significant to remove.

We noticed that in the Average Price column, six numbers appear in after the decimal. We wanted to round the AveragePrice(USD) because having extra numbers after the decimal after two numbers is not necessary for our dataset as we do not really use that much for actual currency. Additionally, this makes it easier to work with our numbers and cleaner to look at.

In [5]:
df = df.round({'Average Price (USD)':2})
df

,Date,Average Price (USD),Total Volume (lbs),Small Avocados,Large Avocados,XLarge Avocados,Total Bags,Small Bags,Large Bags,XLarge Bags,Type,Region
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,Albany
1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,Albany
2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,Atlanta
3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,organic,Atlanta
4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,BaltimoreWashington
...,...,...,...,...,...,...,...,...,...,...,...,...
53410,2023-12-03,1.55,5693.91,204.64,1211.25,0.00,4278.03,NaN,NaN,NaN,organic,Toledo
53411,2023-12-03,1.70,343326.10,66808.44,132075.11,58.65,138830.45,NaN,NaN,NaN,organic,West
53412,2023-12-03,1.62,34834.86,15182.42,1211.38,0.00,18075.66,NaN,NaN,NaN,organic,WestTexNewMexico
53413,2023-12-03,1.25,2942.83,1058.54,7.46,0.00,1779.19,NaN,NaN,NaN,organic,Wichita
53414,2023-12-03,1.48,2010020.72,271808.32,274480.64,63.43,1364514.02,NaN,NaN,NaN,organic,TotalUS

In [6]:
reg = df['Region'].unique()
types = df['Type'].unique()
reg, types

(array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
        'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
        'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
        'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
        'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
        'LasVegas', 'LosAngeles', 'Louisville', 'Miami', 'Midsouth',
        'Nashville', 'NewOrleans', 'NewYork', 'Northeast',
        'NorthernNewEngland', 'Orlando', 'Philadelphia', 'PhoenixTucson',
        'Pittsburgh', 'Plains', 'Portland', 'RaleighGreensboro',
        'RichmondNorfolk', 'Roanoke', 'Sacramento', 'SanDiego',
        'SanFrancisco', 'Seattle', 'SouthCarolina', 'SouthCentral',
        'Southeast', 'Spokane', 'StLouis', 'Syracuse', 'Tampa', 'TotalUS',
        'West', 'WestTexNewMexico', 'BirminghamMontgomery',
        'PeoriaSpringfield', 'Providence', 'Toledo', 'Wichita',
        'MiamiFtLauderdale'], dtype=object),
 array(['conventional', 'organic'], dtype=object))

The values under the 'Region' column vary by city name, states, and entire regions of the US (example: Midsouth). Thus, we have decided to standardize the column by creating a function that hardcodes each city to be the state that it is in. Afterwards, we remove the rows that contain regions of the US in them, as this can potentially mess with our data.

In [7]:
def name_changing(vals):
    
    if vals in ['California', 'SanFrancisco', 'SanDiego', 'LosAngeles', 'Sacramento']:
        return 'California'
    elif vals in ['Albany', 'BuffaloRochester', 'Syracuse']:
        return 'New York'
    elif vals in ['Seattle', 'Spokane']:
        return 'Washington'
    elif vals in ['Atlanta', 'Plains']:
        return 'Georgia'
    elif vals in ['Miami', 'Orlando', 'Tampa', 'MiamiFtLauderdale']:
        return 'Florida'
    elif vals in ['Wichita']:
        return 'Kansas'
    elif vals in ['Portland']:
        return 'Oregon'
    elif vals in ['PhoenixTucson']:
        return 'Arizona'
    elif vals in ['Boston']:
        return 'Massachusetts'
    elif vals in ['DallasFtWorth', 'Houston']:
        return 'Texas'
    elif vals in ['BirminghamMontgomery']:
        return 'Alabama'
    elif vals in ['Charlotte', 'RaleighGreensboro']:
        return 'North Carolina'
    elif vals in ['StLouis']:
        return 'Missouri'
    elif vals in ['HarrisburgScranton', 'Philadelphia', 'Pittsburgh']:
        return 'Pennsylvania'
    elif vals in ['CincinnatiDayton', 'Columbus', 'Toledo']:
        return 'Ohio'
    elif vals in ['Indianapolis']:
        return 'Indiana'
    elif vals in ['Detroit', 'GrandRapids', 'GreatLakes']:
        return 'Michigan'
    elif vals in ['Chicago', 'PeoriaSpringfield']:
        return 'Illinois'
    elif vals in ['Baltimore', 'BaltimoreWashington']:
        return 'Maryland'
    elif vals in ['Providence']:
        return 'Rhode Island'
    elif vals in ['Denver']:
        return "Colorado"
    elif vals in ['HartfordSpringfield']:
        return 'Connecticut'
    elif vals in ['LasVegas']:
        return 'Nevada'
    elif vals in ['Louisville']:
        return 'Kentucky'
    elif vals in ['Nashville']:
        return 'Tennessee'
    elif vals in ['NewOrleans']:
        return 'Louisiana'
    elif vals in ['RichmondNorfolk', 'Roanoke']:
        return 'Virginia'
    elif vals in ['SouthCarolina']:
        return 'South Carolina'
    else:
        return 'Idaho'  #boise
    
    
    #getting rid of northeast, midsouth, northern new english as it is not a state or a city so it is not very specific enough
    #south central is vague, not sure if it means city in LA or the south central state
    #delete total US, no idea what that means, same with west
    #delete WestTexNewMexico
    #jacksonville can be in different states, just made an assumption, delete it

Deleted ambiguous rows due to the region as it can skew our data.

In [8]:
values_to_delete = ['Midsouth', 'SouthCentral', 'WestTexNewMexico', 'Southeast', 'TotalUS', 'Jacksonville', 'Northeast']
df = df[~df['Region'].isin(values_to_delete)]

In [9]:
df['Region'].unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'LasVegas',
       'LosAngeles', 'Louisville', 'Miami', 'Nashville', 'NewOrleans',
       'NewYork', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina', 'Spokane',
       'StLouis', 'Syracuse', 'Tampa', 'West', 'BirminghamMontgomery',
       'PeoriaSpringfield', 'Providence', 'Toledo', 'Wichita',
       'MiamiFtLauderdale'], dtype=object)

Applying our function to the Region column so we change the values.

In [10]:
new_col = df['Region']
new_age_column = new_col.apply(name_changing)
df['Region'] = new_age_column
df

,Date,Average Price (USD),Total Volume (lbs),Small Avocados,Large Avocados,XLarge Avocados,Total Bags,Small Bags,Large Bags,XLarge Bags,Type,Region
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,New York
1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,New York
2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,Georgia
3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,organic,Georgia
4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,Maryland
...,...,...,...,...,...,...,...,...,...,...,...,...
53408,2023-12-03,1.62,4947.25,154.75,194.69,0.00,4475.54,NaN,NaN,NaN,organic,New York
53409,2023-12-03,1.42,24520.55,222.70,91.35,0.00,24206.50,NaN,NaN,NaN,organic,Florida
53410,2023-12-03,1.55,5693.91,204.64,1211.25,0.00,4278.03,NaN,NaN,NaN,organic,Ohio
53411,2023-12-03,1.70,343326.10,66808.44,132075.11,58.65,138830.45,NaN,NaN,NaN,organic,Idaho
53413,2023-12-03,1.25,2942.83,1058.54,7.46,0.00,1779.19,NaN,NaN,NaN,organic,Kansas

Making sure that everything now is a state and that there are still no ambiguous values.

In [11]:
df['Region'].unique()

array(['New York', 'Georgia', 'Maryland', 'Idaho', 'Massachusetts',
       'California', 'North Carolina', 'Illinois', 'Ohio', 'Texas',
       'Colorado', 'Michigan', 'Pennsylvania', 'Connecticut', 'Indiana',
       'Nevada', 'Kentucky', 'Florida', 'Tennessee', 'Louisiana',
       'Arizona', 'Oregon', 'Virginia', 'Washington', 'South Carolina',
       'Missouri', 'Alabama', 'Rhode Island', 'Kansas'], dtype=object)

# Ethics & Privacy

Our data doesn’t involve human subjects, so there is no concern for informed consent. They don’t have PII concerns. We believe the avocados will not request for their personal information to be removed. Overall, since we are not using human subjects, there should be no biases, privacy, or terms of concern. Furthermore, since we found our data online, we do not plan on deleting the data after using them. The price of avocados and their origins are transparent online. We do not consider securing the data since they are transparent and can be found online.

One bias our dataset might have is that we can only include the avocados that are sold in bigger institutions, such as supermarkets. Smaller individuals, such as farmers selling small amounts of avocados might not be accounted for. However, since we are just focusing on the impact of regions and production methods on the prices, these small individual sellers shouldn’t do much on the statistics. Since they don’t have much impact on the overall avocado prices and they appear randomly, they can be disregarded in our data analysis.

Another impact that our project will have is that we might come to conclusions of the avocados based on their origin. People might be inclined to buy avocados from one origin and discriminate against avocados from another origin. We will address this in our writeup by stating that our data is based on transparent data collected previously. Avocado prices in different areas might fluctuate in the future and become the opposite of our conclusions.

# Team Expectations



* *Team Expectation 1*:  Punctual Participation: All team members are expected to attend meetings promptly. Should illness or unavoidable circumstances arise, members are encouraged to participate virtually to maintain continuity.
* *Team Expectation 2*: Effective Communication: We prioritize clear, timely, and constructive communication. Keeping all members informed and engaged is essential for our collective success.
* *Team Expectation 3*: Mutual Respect Towards Teammates: Every team member deserves to be treated with dignity and respect. We commit to fostering an inclusive environment where diverse perspectives are valued and encouraged.
* *Team Expectation 4*: Active Contribution and Collaboration: Each member is expected to actively contribute to our project by sharing ideas, taking on tasks, and collaborating with others. Our goal is to leverage our collective strengths to achieve our research objectives.

By adhering to these expectations, our group aims to create a productive, supportive, and respectful team dynamic conducive to our project's success.

# Project Timeline Proposal

Specify your team's specific project timeline. An example timeline has been provided. Changes the dates, times, names, and details to fit your group's plan.

If you think you will need any special resources or training outside what we have covered in COGS 108 to solve your problem, then your proposal should state these clearly. For example, if you have selected a problem that involves implementing multiple neural networks, please state this so we can make sure you know what you’re doing and so we can point you to resources you will need to implement your project. Note that you are not required to use outside methods.



| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 2/8  |  1 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 2/10  |  10 AM |  Do background research on topic | Discuss ideal dataset(s) and ethics; draft project proposal | 
| 2/13  | 3 PM   | Read and understand checkpoint #1, brainstorm the project | Discuss how we can tackle our project as we continue the project | 
| 2/18  | 10 AM  | Edit, finalize, and submit proposal; Search for datasets  | Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part for Checkpoint #1   |
| 2/24  | 6 PM  | Import & Wrangle Data (Ant Man); EDA (Hulk) | Review/Edit wrangling/EDA; Discuss Analysis Plan   |
| 2/29  | 12 PM  | Finalize wrangling/EDA; Begin Analysis (Iron Man; Thor) | Discuss/edit Analysis; Complete project check-in |
| 3/2  | 7 PM   | Understand what we need to get done for checkpoint #2, prepare questions if needed for this part | Discuss what we should do for checkpoint #2 and assign members their part for this section | 
| 3/5   | 3 PM |  Continue doing parts for checkpoint #2  | Discuss if someone needs extra help for their part and update each other on what we each need so we know what we need to focus on | 
| 3/9   | 1 PM  | Review each other's parts and see what we have done for this checkpoint | Work collaboratively as a group during this checkpoint to get as much done to catch everyone up on their parts | 
| 3/10   | 1 PM   | Continue to review each other's part to make sure that everyone is caught up and that we are not behind | Finalize Checkpoint #2 to make sure that it is ready to submit | 
| 3/11   | 6 PM | Read the final report requirements | Discussion about the final report and make sure members are aware of what we are doing | 
| 3/13  | 12 PM  | Complete analysis; Draft results/conclusion/discussion (Wasp)| Discuss/edit full project |
| 3/15  | 5 PM | Review each other's work for the Final Report | Comment on what else needs editing and finalization for what other members should do for their part and make sure that we have everything that is required for the Final Report. | 
| 3/19  | Before 11:59 PM  | Review Final Report to make sure that it is ready to submit  | Finalize the Final Report and turn in Final Project & Group Project Surveys |